<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createTestServlet</servlet-name>
        <servlet-class>controller.createTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPaperServlet</servlet-name>
        <servlet-class>controller.QuestionPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <servlet-class>controller.ShowQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeTestServlet</servlet-name>
        <servlet-class>controller.TakeTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToQuestionServlet</servlet-name>
        <servlet-class>controller.GoToQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserAnsServlet</servlet-name>
        <servlet-class>controller.SaveUserAnsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndTestServlet</servlet-name>
        <servlet-class>controller.EndTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowResultServlet</servlet-name>
        <servlet-class>controller.ShowResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>controller.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpCheckHomePageServlet</servlet-name>
        <servlet-class>controller.SignUpCheckHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoiceCreateOrTest</servlet-name>
        <servlet-class>controller.ChoiceCreateOrTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createTestServlet</servlet-name>
        <url-pattern>/createTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPaperServlet</servlet-name>
        <url-pattern>/QuestionPaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <url-pattern>/ShowQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeTestServlet</servlet-name>
        <url-pattern>/TakeTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToQuestionServlet</servlet-name>
        <url-pattern>/GoToQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserAnsServlet</servlet-name>
        <url-pattern>/SaveUserAnsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndTestServlet</servlet-name>
        <url-pattern>/EndTestServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowResultServlet</servlet-name>
        <url-pattern>/ShowResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpCheckHomePageServlet</servlet-name>
        <url-pattern>/SignUpCheckHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoiceCreateOrTest</servlet-name>
        <url-pattern>/ChoiceCreateOrTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
