
      .nav-elem{
        position: relative;
        margin: 20px 10px;
        text-align: center;
        font-size:18px;
        font-family:B612;
        font-weight:bold;
        letter-spacing:0px;
        background-color:white;
        padding:10px 10px;
        width:100px;
        top:-50px;
        border-radius: 5px;
        z-index:499;
        transition-duration:1s;
        opacity:0;
      }
      .nav-content{
        position: fixed;
        top:50px;
        width:auto;
        margin-bottom: 0px;
        z-index:499;
      }
      .nav-btn{
        font-size:30px;
        position:fixed;
        top:20px;
        left:10px;
        padding:0px 7px;
        border-radius:50%;
        transition-duration:0.2s;
        cursor:pointer;
        z-index:500;
      }
      .nav-btn:hover{
        font-size:30px;
        background-color:transparent;
        box-shadow:0 0 10px black;
      }
